.image-wrapper{
    animation: image 1s 1;
}

.content{
    animation: content 1s 1;
}

@keyframes image{
    0%{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes content{
    0%{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0);
    }
}